
<div class="row">
	<% comments.each do |comment|%>
		<div class="panel panel-success">
			<div class="panel-heading"> 
				<div class="panel-title ">
					<div class="row">
						<div class="col-md-6 ">
							<span class="text-capitalize"><%= comment.user.name %>&nbsp;&nbsp;</span>
							<small>
								<%= time_ago_in_words(comment.created_at) %> 
							</small>
						</div>
						<% if comment.delete_allowed?(current_user)%>
							<div class="col-md-6">
								<span class="pull-right">
									<%= link_to "delete", article_comment_path(@article.id, comment.id), method: :delete %>
								</span>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="panel-body">
			<div class="col-md-12">
				<%= comment.msg %>
				<div class="reply">
					<button class="btn btn-primary showReplyForm" data-type="reply"
					 	data-path="<%= article_comment_index_path(@article.id) %>" data-comment-id="<%= comment.id %>">reply
					 </button>
					<div id="comment-<%= comment.id %>"></div>
					<%= render partial: 'comment/partials/comment', locals: {comments: comment.replies}  %>
				</div>
			</div>
			<% unless comment.comment %>
			<div class="col-md-12">
				<%= render partial: 'comment/partials/form', locals: {type: 'reply', comment: comment.id} %>
			</div>
			<% end %>
		</div>
	</div>
	<hr>
	<% end %>
</div>